<div class="tituloPrincipal">
<h1>Sistema SISOS - Usuario</h1>
</div>
	
<div class="menuPrincipal">
	<a style="color: #FFF;" href="/clientes" class="btn btn-large btn-block btn-primary">Clientes</a>
	
	<a style="color: #000;" href="/ordems" class="btn btn-large btn-block">Ordes de Serviços</a>
	<a style="color: #FFF;" href="#####" class="btn btn-large btn-block btn-primary">#####</a>
	<a style="color: #000;" href="#####" class="btn btn-large btn-block">#####</a>
</div>