<div class="tituloPrincipal">
	<h1>Sistema SISOS - Admin</h1>
</div>



	
<div class="menuPrincipal">
	<a  style="color: #FFF;" href="/usuarios/sign_up" class="btn btn-large btn-block btn-primary">Novo Usuario</a>
	<a  style="color: #000;" href="/ordems" class="btn btn-large btn-block">Ordes de Serviços</a>
	<a  style="color: #FFF;" href="/clientes" class="btn btn-large btn-block btn-primary">Clientes</a>
	<a  style="color: #000;" href="pendentes" class="btn btn-large btn-block">Ordens de Serviços Pendentes</a>
	<a  style="color: #FFF;" href="/fexaords" class="btn btn-large btn-block btn-primary">Ordens de Serviços Fechadas</a>
	<a  style="color: #000;" href="funcionarios" class="btn btn-large btn-block">Funcionarios</a>
	
</div>

